body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,158,130,1) 35%, rgba(0,212,255,1) 100%);
}
#number{
    color: white;
    font-size: 146px;
}
.content{
    text-align: center;

}
span{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}